.court-img {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.court-img img,
.map-container iframe {
    width: 40vw;
    /* max-height: 800px; */

    max-width: 800px;
    height: 40vw;
    max-height: 800px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5)
}

.court-img p {
    z-index: 2;
}


.court-img div {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 63%;
    left: 48%;
}

.court-img div:first-of-type {
    padding: 10px 60px;
    top: 25%;
    /* filter: blur(20px);
    -webkit-filter: blur(20px); */
}

.court-img div p {
    color: #1a3150;
}

a {
    text-decoration: none;
}

.img-with-gadient {
    height: 110%;
    background-image: url("../IMG/court2.png");
    /* Changed from /WEB/IMG/... */
    filter: blur(20px);
    -webkit-filter: blur(20px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 16px;
}

.img-with-gadient-content{
    /* background-image: url("../IMG/court2.png"); */
    /* Changed from /WEB/IMG/... */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    margin: auto;
    /* Top + bottom at 50% = better centered in y axis */
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    /* width: 70%;
    height: 70%; */
}
.img-with-gadient-content div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.reservation-content {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .button1 {
        width: 60vw;

        p {
            font-size: 20px;
        }
    }

    .court-img div {
        left: 50%;
    }

    .court-img img,
    .map-container iframe {
        width: 80vw;
        /* max-height: 800px; */

        max-width: 400px;
        height: 80vw;
        max-height: 400px;
    }
    .img-with-gadient-content div {
        flex-direction: column;
        align-items: center;
    }
    .img-with-gadient-content div div{
        margin: 10px 0;
    }
    .img-with-gadient-content {
       top: 40%;
        flex-direction: column;
        align-items: center;
    }

}
