.reglement-text p {
    color: white;
}

.reglement-et-statuts-contnent {
    background-image: url("../IMG/PLAY.jpg"); /* Changed from /WEB/IMG/... */
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
a{
    text-decoration: none;
}
button p{
    color: var(--color1);
}