@font-face {
    font-family: Open-sans;
    src: url(../FONT/Open-Sans.woff2);
}

@font-face {
    font-family: Rammetto-One;
    src: url(../FONT/RammettoOne-Regular.ttf);
}

html * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Open-sans;
}

html,
body {
    height: 100%;
}

:root {
    --color1: #1a3150;
    --color2: #385c8a;
    --color3: #b8d0dd;
    --color4: #d55c00;
}

/* Global styles */
main {
    height: 100%;
}

*:focus {
    outline: none;
}

p {
    color: #1a3150;
}

h1 {
    font-family: Rammetto-One;
    color: #1a3150;
}

h2 {
    color: #1a3150;

}

h3 {
    color: #1a3150;
}

h4 {
    color: #1a3150;
}

ul {
    color: #1a3150;
}

li {
    list-style: none;
}

.titre {
    text-align: center;
    margin: 0 24px;
}

.titre h1 {
    margin-bottom: 16px;
}

.titre h2 {
    margin-bottom: 15px;
}

/* Button styles */
.button1 button {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);

    transition: all 0.3s;
    width: 350px;
    font-size: 24px;
    font-weight: 600;

    padding: 12px;
    margin: 12px;
    border-radius: 12px;
}

.button1 button:hover {
    transform: scale(1.15);
    cursor: pointer;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.button1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.button1 button p {
    color: white;
}

.button2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.button2 button {
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.25);

    transition: all 0.3s;
    width: 320px;
    font-size: 24px;
    font-weight: 600;

    padding: 12px;
    margin: 12px;
    border-radius: 12px;


}

.button2 button p {
    color: white;
}

.button2 button:hover {
    transform: scale(1.15);
    cursor: pointer;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.textBlurButton {
    animation: textBlurBtn .6s cubic-bezier(.12, 0, .18, 1);
    animation-timing-function: ease;
}

.textBlurButtonUnhover {
    animation: textBlurBtnUnhover .6s cubic-bezier(.12, 0, .18, 1);
}

@keyframes textBlurBtn {

    /* from{
        filter: blur(8px);
        letter-spacing: 0px;
    }
    to{
        letter-spacing: 1px;
        filter: blur(0px);
    } */
    25% {
        letter-spacing: 2px;

    }

    50% {
        filter: blur(8px);

    }

    75% {
        /* filter: blur(0px); */
    }

    100% {
        letter-spacing: 0px;
        filter: blur(0px);
    }
}

@keyframes textBlurBtnUnhover {

    /* from{
        filter: blur(8px);
        letter-spacing: 1px;
    }
    to{
        letter-spacing: 0px;
        filter: blur(0px);
    } */
    25% {
        letter-spacing: -2px;

    }

    50% {
        filter: blur(8px);

    }

    75% {
        /* filter: blur(0px); */
    }

    100% {
        letter-spacing: 0px;
        filter: blur(0px);
    }
}


/* Header styles */
.top_header {
    height: 57.14px;
    background-color: #1a3150;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: #b8d0dd;
}

.top_header ul {
    display: flex;
    flex-direction: row;
}

.top_header li {
    list-style: none;
}

.top_header a {
    color: #b8d0dd;
    text-decoration: none;
    margin-right: 3vw;

}

.top_header input {
    background-color: #385c8a;
    border: #1a3150;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 2px #385c8a;
    padding: 5px;
    margin-right: 10vw;
    transition: all 0.3s;
    color: white;
    font-size: 1rem;
}

.top_header input:focus {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 2px #16283f;
}

.top_header input::placeholder {
    color: #a0b6c1b9;
    font-size: 1rem;
}

.top_header input:focus::placeholder {
    transition: all 0.3s;
    color: #ffffff;
}


.bottom_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0px;
}

.bottom_header ul {
    display: flex;
    flex-direction: row;
}

.bottom_header li {
    list-style: none;
    margin: 0px 2vw;
}

.bottom_header a {
    color: #385c8a;
    text-decoration: none;
}

.LeClub {
    transition: all 0.3s;
    z-index: 1;
}

.subnav-content {
    transition: all 0.3s;
}

.bottom_header .subnav-content {
    opacity: 0%;
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a3150;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin-top: 5px;
    padding: 0 5px;
    position: absolute;
    z-index: 0;
}

.subnav-content.show {
    opacity: 100%;
    height: auto;
    z-index: 1;

}

.subnav-content a {
    transition: all 0.3s;
    position: relative;
    margin: 0px;
    z-index: 0;
    font-size: 2px;
    filter: blur(12px);
}

.subnav-content.show a {
    margin: 8px;
    color: #385c8a;
    z-index: 1;
    font-size: 1rem;
    filter: blur(0px);
}



.events {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: #1a3150;
    margin-bottom: 100px;

}

.events div h1 {
    font-size: 3rem;
    font-family: Rammetto-One;

}

.events>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35vw;
    min-width: 444px;
    margin: 0px 2vw;
    max-width: 650px;
}

.events .textEvent {
    min-height: 500px;
}

.events .textEvent>* {
    margin: 15px 0px;
}

.events p {
    font-size: 20px;
    font-weight: 700;
}

.events img {
    width: 35vw;
    min-width: 444px;
    max-width: 650px;
}



.big-back-img {
    height: 100%;
}

#copyableText:hover {
    cursor: pointer;
}

.back-img-presentation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



div.showPar {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    color: #1a3150;
    filter: blur(12px);
    opacity: 0;
}

div.unBlur {
    transition: all 0.3s;
    filter: blur(0px);
    opacity: 1;
}




.img-presentation {
    margin-top: 0px;
}


/* Text bubble styles */
.text-bubble-img-presentation {
    font-weight: 600;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 28px 80px;
}

.text-bubble-img-presentation2 {
    font-weight: 600;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 90px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 28px;
}

.bubble-hover {
    transition: all 0.5s cubic-bezier(.12, 0, .18, 1);
}

.bubble-hover:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

}

.round-img-in-bubble {
    border-radius: 100%;
    max-width: 300px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

@keyframes blurUnBlur {
    from {
        opacity: 0;
        line-height: 34px;
        filter: blur(12px);
    }
    
    to {
        opacity: 1;
        line-height: 23px;
        filter: blur(0px);
    }
    
}
@keyframes unBlurBlur {
    from{
        opacity: 1;
        line-height: 23px;
        filter: blur(0px);
    }

    to {
        opacity: 0;
        line-height: 34px;
        filter: blur(12px);
    }
}