@font-face {
    font-family: Open-sans;
    src: url(../FONT/Open-Sans.woff2);
}

@font-face {
    font-family: Rammetto-One;
    src: url(../FONT/RammettoOne-Regular.ttf);
}

html * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Open-sans;
}

*:focus {
    outline: none;
}

.top_header {
    height: 57.14px;
    background-color: #1a3150;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: #b8d0dd;
}

.top_header ul {
    display: flex;
    flex-direction: row;
}

.top_header li {
    list-style: none;
}

.top_header a {
    color: #b8d0dd;
    text-decoration: none;
    margin-right: 3vw;

}

.top_header input {
    background-color: #385c8a;
    border: #1a3150;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 2px #385c8a;
    padding: 5px;
    margin-right: 10vw;
    transition: all 0.3s;
    color: white;
}

.top_header input:focus {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 2px #16283f;
}

.top_header input::placeholder {
    color: #a0b6c1b9;
    font-size: 1rem;
}

.top_header input:focus::placeholder {
    transition: all 0.3s;
    color: #ffffff;
    font-size: 1rem;
}


.bottom_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0px;
}

.bottom_header ul {
    display: flex;
    flex-direction: row;
}

.bottom_header li {
    list-style: none;
    margin: 0px 2vw;
}

.bottom_header a {
    color: #385c8a;
    text-decoration: none;
}

.LeClub {
    transition: all 0.3s;
    z-index: 1;
}

.subnav-content {
    transition: all 0.3s;
}

.bottom_header .subnav-content {
    opacity: 0%;
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a3150;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin-top: 5px;
    position: absolute;
    z-index: 0;
}

/*.LeClub:hover*/
.subnav-content.show {
    opacity: 100%;
    height: auto;
    z-index: 1;

}

.subnav-content a {
    transition: all 0.3s;
    position: relative;
    margin: 0px;
    z-index: 0;
    font-size: 2px;
    filter: blur(12px);
}

.subnav-content.show a {
    margin: 8px;
    color: #385c8a;
    z-index: 1;
    font-size: 1rem;
    filter: blur(0px);
}

p {
    color: #1a3150;
}

h1 {
    font-family: Rammetto-One;
    color: #1a3150;
}

h2 {
    color: #1a3150;

}

h3 {
    color: #1a3150;
}

h4 {
    color: #1a3150;
}

ul {
    color: #1a3150;
}

li {
    list-style: none;
}

.carousel {
    max-width: 1800px;
    position: relative;
    margin: auto;
}

.carousel img {
    object-fit: cover;
    height: 35vh;
}

.carouselSlides {
    display: none;
    animation-name: fade;
    animation-duration: .6s;
}

@keyframes fade {
    from {
        filter: blur(12px);
        opacity: .4;
    }

    to {
        filter: blur(0px);
        opacity: 1;
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

/* Caption text */
.captionText,
.captionTitle {
    color: #f2f2f2;
    position: absolute;
    width: 100%;
    font-family: Rammetto-One;

}

/* .carouselSlides:first-of-type{
    width: 100%;
    height: 500px;
    background-color: #16283f;
    background-image:url("../IMG/CarouselIMG1.png") ;
    background-repeat: no-repeat;
    background-
} */
.slideText {
    font-weight: bolder;
}

.carouselSlides .slideText h2 {
    color: #ffcc00;
    font-weight: bolder;
    font-family: Rammetto-One;
    font-size: 3rem;
}

.carouselSlides .slideText p {
    font-weight: bolder;
    font-family: Rammetto-One;
    font-size: 1.3rem;
    color: #ffcc00;
}

.carouselSlides:first-of-type .slideText {
    text-align: center;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffcc00;
}

/* .carouselSlides:first-of-type .captionTitle {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    top: 0vh;
    color: #ffcc00;
}

.carouselSlides:first-of-type .captionText {
    font-size: 1.3rem;
    text-align: center;
    color: #ffcc00;
    top: 6vh;
} */
.carouselSlides:nth-of-type(2) .slideText h2:first-of-type {
    font-weight: bolder;
    font-family: Rammetto-One;
    font-size: 2rem;
    color: white;
}

.carouselSlides:nth-of-type(2) .slideText h2:nth-of-type(2) {
    font-weight: bolder;
    font-family: Rammetto-One;
    font-size: 2.5rem;
    color: white;

}

.carouselSlides:nth-of-type(2) .slideText h3 {
    font-weight: bolder;
    font-family: Rammetto-One;
    font-size: 1.5rem;
    color: white;

}

.carouselSlides:nth-of-type(2) .slideText {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);
}

.carouselSlides:nth-of-type(3) .slideText {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.carouselSlides:nth-of-type(3) .slideText h2,
.carouselSlides:nth-of-type(3) .slideText p {
    color: white;
}

/*
.carouselSlides:nth-of-type(2) .captionTitle {

    font-size: 2.5vw;
    font-weight: bolder;
    top: 30%;
    left: 5vw;
}

.carouselSlides:nth-of-type(2) .captionTitle:nth-of-type(2) {
    top: 40%;
    left: 5vw;
    margin-bottom: 3vh;
}

.carouselSlides:nth-of-type(2) .captionText {
    font-size: 1.5vw;
    top: 50%;
    left: 5vw;
} */

@media screen and (min-width: 1500px) {
    .carouselSlides:nth-of-type(2) .captionTitle {
        font-size: 37.4833px;

    }

    .carouselSlides:nth-of-type(2) .captionText {
        font-size: 22.49px;
    }
}

@media screen and (max-width: 900px) {
    .carouselSlides:nth-of-type(2) .captionTitle {
        font-size: 22.6px;

    }

    .carouselSlides:nth-of-type(2) .captionText {
        font-size: 13.56px;
    }
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
    padding: 5px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 90px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, .25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    /* background-color: #bbb; */
    background: rgba(255, 255, 255, 0.25);
    border-radius: 90px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    display: inline-block;
    transition:
        /*background-color*/
        0.2s ease;
}

.active,
.dot:hover {
    /* background-color: #717171; */
    background: rgba(255, 255, 255, 0.25);
    border-radius: 90px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transform: scale(1.1);
}

.events {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: #1a3150;

}

.events div h1 {
    font-size: 3rem;
    font-family: Rammetto-One;

}

.events>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35vw;
    min-width: 444px;
    margin: 0px 2vw;
    max-width: 650px;
}

.events .textEvent {
    min-height: 500px;
}

.events .textEvent>* {
    margin: 15px 0px;
}

.events p {
    font-size: 20px;
    font-weight: 700;
}

.events img {
    width: 35vw;
    min-width: 444px;
    max-width: 650px;
}

.titre-comite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipe-comite {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 80vh; */
    background-image: url("../IMG/TennisServe.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
    /* margin-left: 15vw; */
}

.personnes-comite {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
    /* margin-top: 25px; */
    padding: 25px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 36px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.5s cubic-bezier(.12, 0, .18, 1);
}

.personnes-comite img {
    border-radius: 16px;
    margin-bottom: 20px;
    width: 200px;
}

.personnes-comite p {
    transition: all 0.3s;
    display: none;
    filter: blur(12px);
}


.personnes-comite:hover {
    transition: all 0.3;
    transform: scale(1.1);
    padding-bottom: 50px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
}

.comite p.showPar

/*p.showPar*/
    {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    color: #1a3150;
    filter: blur(12px);
    opacity: 0;
}

.comite p.unBlur {
    transition: all 0.3s;
    filter: blur(0px);
    opacity: 1;
}

.professeurs {
    margin-bottom: 48px;
}

.titre-professeurs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.back-img-presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.equipe-professeurs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 80vh; */
    background-image: url("../IMG/YellowTennisBallOnConcrete.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
    /* margin-left: 15vw; */
}

.personnes-professeurs {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
    /* margin-top: 25px; */
    padding: 4vh;
    min-width: 370px;
    background: rgba(255, 255, 255, 0.25);
    /* border-radius: 72px; */
    border-radius: 6vh;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.5s cubic-bezier(.12, 0, .18, 1);
}

.personnes-professeurs img {
    /* border-radius: 22px; */
    border-radius: 2vh;
    margin-bottom: 20px;
    /* width: 400px; */
    height: 30vh;
    min-height: 291px;
}

.diplomes-professeurs {
    transition: all 0.3s;
    display: none;
    filter: blur(12px);
}

div.showPar

/*p.showPar*/
    {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    color: #1a3150;
    filter: blur(12px);
    opacity: 0;
}

div.unBlur {
    transition: all 0.3s;
    filter: blur(0px);
    opacity: 1;
}

.diplomes-professeurs p {
    text-align: center;
    transition: all 0.6s;
    line-height: 30px;
}

.diplomes-professeurs p.unBlur {
    line-height: 22px;
}

.personnes-professeurs h3 {
    font-size: 30px;
}

.personnes-professeurs:hover {
    transition: all 0.3;
    transform: scale(1.1);
    padding-bottom: 150px;

    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.cours-et-stages {
    background-image: url('../IMG/TennisFloorCourtWithLines.jpg');
    justify-content: space-between;

}

.titre {
    text-align: center;
    margin: 0 24px;
}

.titre h2 {
    margin-bottom: 15px;
}

.img-presentation {
    margin-top: 0px;
}

.cours-et-stages h1 {
    color: white;
    text-align: center;
    padding-top: 36px;
}
.button1 button{
 background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.button1 button:hover{
    transform: scale(1.15);
    cursor:pointer ;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.button1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.button1 button{
    transition: all 0.3s;
    width: 350px;
    font-size: 24px;
    font-weight: 600;

    padding: 12px;
    margin: 12px;
    border-radius: 12px;
}
.button1 button p{
    color: white;
}
.cours-bouttons button p{
    color: #1a3150;

}

.textBlurButton{
    animation: textBlurBtn .6s cubic-bezier(.12, 0, .18, 1);
    animation-timing-function: ease;
}
.textBlurButtonUnhover{
    animation: textBlurBtnUhover .6s cubic-bezier(.12, 0, .18, 1);
}
@keyframes textBlurBtn {
    /* from{
        filter: blur(8px);
        letter-spacing: 0px;
    }
    to{
        letter-spacing: 1px;
        filter: blur(0px);
    } */
     25%{
        letter-spacing: 2px;

     }
    50%{
        filter: blur(8px);

    }
    75%{
        /* filter: blur(0px); */
    }
    100%{
        letter-spacing: 0px;
        filter: blur(0px);
    }
}
@keyframes textBlurBtnUhover {
    /* from{
        filter: blur(8px);
        letter-spacing: 1px;
    }
    to{
        letter-spacing: 0px;
        filter: blur(0px);
    } */
    25%{
        letter-spacing: -2px;

     }
    50%{
        filter: blur(8px);

    }
    75%{
        /* filter: blur(0px); */
    }
    100%{
        letter-spacing: 0px;
        filter: blur(0px);
    }
}
/* @keyframes button-cours {
    from {
        letter-spacing: 0px;
    }
    to {
letter-spacing: 1px;

    }
} */
 .cours-et-stages div:nth-of-type(3){
    margin-bottom: 28px;
 }
.text-bubble-img-presentation{
    font-weight: 600;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 0 80px;
}
.devenirMembreContent{
justify-content: space-between;
    margin-top: 30px;
    background-image: url("/WEB/IMG/YelowBallSpinningWithWater.jpg");
    /* justify-content: center; */
}
.devenirMembre-text{
    margin-top: 28px;

}
.devenirMembre-text p{
    color:white;
}
div.adhesion-bouton {
margin-bottom: 50px;
    /* justify-self: center; */
}
.devenirMembreContent div:nth-of-type(3){
    margin-bottom: 28px;
}
.paiement-content{
    background-image: url("/WEB/IMG/BallOnRacketUpClose.jpg");
    margin-top: 30px;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.paiement-text{
    margin-top: 28px;
}
.paiement-text p{
    margin-bottom: 20px;
}
.paiement-text p:last-of-type{
    margin-bottom: 0px;
}
.paiement-text:nth-of-type(2){
    margin-bottom: 28px;
}
.paiement-text img{
    object-fit: contain;
    width: 40vw;
    height: 25vh;
    /* max-width: 100%;
    max-height: 100%; */
    /* min-width: 500px; */
}
.reglement-text{
    margin-top: 28px;

}
.reglement-text p{
    color:white;
}
.reglement-et-statuts-contnent{
    background-image:url("/WEB/IMG/PLAY.jpg") ;
    justify-content: space-around;
    margin-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.reglement-bouton{

}